# Database Configuration
DB_USER=postgres
DB_PASSWORD=database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rewear_db

# Security & JWT Configuration
SECRET_KEY=supersecretjwtkeyforrewearapp123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
